{% if post %}
{% assign page=post %}
{% endif %}
<article class="box post{% if post %} post-excerpt{% endif %}">
	<header>
		<h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
		{% if page.subtitle %}
		<p>{{ page.subtitle }}</p>
		{% endif %}
	</header>
	<div class="info">
		{% capture month_begin %}{{ page.date | date: "%b" }}{% endcapture %}
		{% capture month_end %}{{ page.date | date: "%B" | remove_first: month_begin }}{% endcapture %}
	    <span class="date">
	    	<span class="month">{{ month_begin }}<span>{{ month_end }}</span></span>
	    	<span class="day">{{ page.date | date: "%-d"}}</span>
	    	<span class="year">{{ page.date | date: "%Y" }}</span>
	    </span>
		<!--
			Note: You can change the number of list items in "stats" to whatever you want.
		-->
		<ul class="stats">
			<li><div class="twitter-share-button"><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.url}}{{site.baseurl}}{{page.url}}" data-text="{{page.title}}" data-via="litui" data-count="none"></a></div></li>
			<li><div class="fb-share-button" data-href="{{site.url}}{{site.baseurl}}{{page.url}}" data-layout="button"></div></li>
		</ul>
	</div>
	<div class="markdown-body">
		{% if post %}
			{{page.content}}
		{% else %}
			{{content}}
		{% endif %}
	</div>
</article>